.navbar {
  .brand {
    font-weight: bold;
    background-color: #2f285a;
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    .link {
        transition: all 0.5s;
        color: rgb(47, 40, 90);
        &:hover {
          color: white;
        }
      }
  }
}
